<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-md-push-5">
        <div class="img_wrapper">
            <img src="{{ basic_host_url }}/{{ directory }}/img/LP_DowntimePage.gif" alt="" class="img-responsive">
            <div class="rectangle"></div>
        </div>
      </div>
      <div class="col-md-5 col-md-pull-7 text-center">
          <div class="text-content">
            <div class="logo-vc-wrapper logo-maintenance">
              <div class="logo2">LifePoints</div>
            </div>
            <h3>{{ "We’ll be back soon!"|t }}</h3>
            <p>{{ "We’re currently performing scheduled maintenance to improve the LifePoints website. If you want more LifePoints fun, check our social media pages below; otherwise, we’ll be back online shortly!"|t }}</p>
            <p>&nbsp;</p>
            <div>
              <!-- OP-6260:Remove tooltips from LifePoints -->
              <ul class="list-inline social-media">
                <li><a href="https://www.facebook.com/LifePointsPanel" target="_blank"><span class="icon_facebook"></span></a></li>
                <li><a href="https://www.twitter.com/lifepointspanel" target="_blank"><span class="icon_twitter"></span></a></li>
                <li><a href="https://www.instagram.com/lifepointspanel" target="_blank"><span class="icon_instagram"></span></a></li>
              </ul>
            </div>
            <p>&nbsp;</p>
            <p class="no-margin">&nbsp;</p>
          </div>
      </div>
    </div>
  </div>
</div>
