
<section class="padding-tb40 grey-background">
        
  <div class="container">
    <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
      
        <div class="icon-logo"></div>
        <h2>{{ 'We are sorry to see you go!!'|t }}</h2>
        <h3>{{ 'We can confirm your membership is now cancelled.'|t }}</h3>
        <h3>{{ PleaseContactusMessage }}</h3>
        <h3>{{ 'Thank you for being a member of Lifepoints. Come back soon!'|t }}</h3>
     
    </div>
    </div>		

  </div>

</section>
<div class="unsubscribeemail_page"></div>